pyYaml==6.0.1
pytest==7.4.2
pytest-cov==4.1.0
pytest-mock==3.11.1
pandas==2.1.0
numpy==1.26.0
pyarrow==13.0.0
setuptools==68.2.2
requests==2.31.0
flask==2.3.3
itsdangerous==2.1.2
werkzeug==2.3.7
gunicorn==21.2.0